[mysqld]

datadir		            	= /var/lib/mysql
socket		            	= /var/run/mysqld/mysqld.sock
pid-file	            	= /var/run/mysqld/mysqld.pid
user		            	= mysql
port		            	= 3306
default_storage_engine  	= InnoDB
server_id			= 10

#INNODB
innodb                      	= FORCE
innodb_buffer_pool_size 	= 4096M
innodb_buffer_pool_instances 	= 4
innodb_log_buffer_size  	= 1M 
innodb_log_file_size    	= 256M
innodb_file_per_table  		= 1
innodb_flush_log_at_trx_commit  = 1							# Flush every log write; not needed on replica
innodb_support_xa		= 1							# Two phase commit in InnoDB; internal coordination between InnoDB
											# transaction logs and MySQL binary logs; not needed on replica

#MyISAM
key_buffer_size         	= 1024M 
myisam_block_size		= 4096

#LOGGING
log_error	            	= /var/log/mysql/error.log
log_slow_queries	    	= /var/log/mysql/mysql-slow.log
long_query_time		    	= 2

#OTHER
log_bin				= /var/lib/mysql/binlogs/files/mysql-bin
log_bin_index			= /var/lib/mysql/binlogs/files/mysql-bin.index
binlog_format			= ROW
# sync_binlog			= 1							# sync to binlog after every transaction commit; not needed on replica
max_binlog_size			= 524288000
expire_logs_days		= 3
relay_log			= /var/lib/mysql/mysql-relay-bin
sync_master_info		= 0							# for replica
sync_relay_log			= 0							# for replica
sync_relay_log_info		= 0							# for replica
log_slave_updates		= 1
skip_slave_start									# skip autostart after crash
log_bin_trust_function_creators = 1

max_allowed_packet              = 500M
slave_compressed_protocol       = 1

tmp_table_size          	= 32M
max_heap_table_size     	= 32M

query_cache_type        	= 0
query_cache_size        	= 0 
max_connections         	= 400 
thread_cache_size       	= 30
table_cache             	= 1024
open_files_limit       		= 65535
basedir		            	= /usr
tmpdir		            	= /tmp
# bind_address            	= 

#SSL 
ssl-ca                          = /etc/mysql/ca.crt
ssl-cert                        = /etc/mysql/example.net.crt
ssl-key                         = /etc/mysql/example.net.key

[client]
port		            	= 3306
socket		            	= /var/run/mysqld/mysqld.sock
default_character_set   	= utf8


!includedir /etc/mysql/conf.d/
